.game-wrapper { position: relative; margin: 0 auto;}
.codebreaker {display: flex; flex-direction: column; align-items: center; width: 100%;}
.codebreaker .word{ float: left; clear: both; margin-top: 40px;}
.word .segment{height: 30px; width: 30px; padding: 2px; background: #009dd2; border-radius: .65rem; color: white;margin-right: 5px; float: left; text-align: center; text-transform: capitalize; line-height: 2;}
.word .segment.picked{ background-color: #b3e8f9 !important;}
.guess{clear: both; float: left; margin-top: 20px;}
.guess .input{float: left; height: 30px; width: 30px; text-transform: capitalize; margin-right: 5px; padding: 0; text-align: center;}
.guess input:disabled {border: none; background-color: white;}
.guess p{ text-transform: capitalize; line-height: 20;}
.codebreak { display: flex; flex-direction: column; align-items: center;}
.codebreak input {border: 2px solid #687984; border-radius: .65rem;}
.codebreak input:focus {color: #495057;background-color: #fff;border-color: #80bdff;outline: 0;box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);}
.codebreaker_form { text-align: center; margin-top: 24px;}
.codebreaker_form .btn-disabled {background: #9fafb9!important;border-color: #9fafb9!important;cursor: no-drop!important;opacity: .75!important;}
.codebreaker_form .btn-disabled:hover { color: #fff;}
.concentrate { text-align: center;}
.codebreaker_form .button {text-transform: uppercase; display: inline-flex; align-items: center; justify-content: space-between; font-size: 1rem; background-image: none;}
.codebreaker_form .btn {display: inline-block; font-weight: 400; color: #212529; text-align: center; vertical-align: middle; cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border: 2px solid transparent;padding: .375rem 1.25rem !important;font-size: 1.2rem;line-height: 1.5;border-radius: 1.25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.codebreaker_form .btn-blue { color: #fff; background-color: #009dd2; border-color: #009dd2;}
.btn-blue:hover {color: #fff !important ;background-color: #0080ac !important ;border-color: #00779f !important;}
.codebreaker__overlay {display: flex;position: absolute;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.7);width: 100%;height: 100%;}
.overlay_content {color: #fff;font-size: 28px;margin: auto;text-align: center; width: 100%;}
.overlay-hidden {display: none;}
