{#
/**
 * @file
 * CODE BREAKER GENERATOR.
 */
#}


<div class="block wrapper col-12 d-flex flex-column justify-content-center codebreaker">
  <h3 class=" col-12 text-center">{{ data.title }}</h3>
  {% if data.instruction %}
    <p class="text-center">{{ data.instruction }}</p>
  {% endif %}
  <div class="game-wrapper">
    <div id="{{ uniqueID }}" class="d-flex flex-column align-items-center"></div>
    {% if data.success_text or data.playAgain %}
    <div id="{{ uniqueID }}_success_img" class="codebreaker__overlay overlay-hidden">
      <div class="overlay_content">
        <p> {{ data.success_text }}</p>
        {% if data.playAgain %}
          <input data-game="#{{ uniqueID }}" disabled type="button" class="button btn btn-disabled btn-blue igbgame__button codebreaker_replay mt-3" value="{{ data.playAgain }}" />
        {% endif %}
      </div>
    </div>
  {% endif %}
  </div>
</div>
